
@{
    ViewData["Title"] = "User Session Timeout";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


<div class="form-body">
   
    <div class="row">
        <div class="img-holder">
            <div class="bg"></div>
            <div class="info-holder">
                <img src="~/images/graphic1.svg" alt="">
            </div>
        </div>
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <h3>Get more things done with Plexus platform.</h3>
                    <p>Your current session has expired. Please log in again to continue.</p>
                    <form>
                        <input class="form-control" type="text" name="username" placeholder="Username" required>
                        <input class="form-control" type="password" name="password" placeholder="Password" required>
                        <div class="form-button">
                            <button id="submit" type="submit" class="ibtn">Login</button> <a href="#">Forget password?</a>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>


