<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="OCC_library" value="https://pkgs.dev.azure.com/SussexOurCareConnected/_packaging/OCC_Nuget_library/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <OCC_library>
      <add key="Username" value="my-user@outlook.com" />
      <add key="ClearTextPassword" value="" />
    </OCC_library>
  </packageSourceCredentials>
</configuration>