@model Sussex.Lhcra.Roci.Viewer.UI.Models.ResourceViewModel

@{
    ViewData["Title"] = "Home Page";
}

<style>
    @@import url('https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css');

    .accordion-toggle:after {
        font-family: 'FontAwesome';
        content: "\f078";
        float: right;
    }

    .accordion-opened .accordion-toggle:after {
        content: "\f054";
    }

    #floating_box {
        position: absolute;
        top: 80px;
        right: 23px;
        z-index: 10;
        background: #d9edf7;
        padding: 5px;
        border: 1px solid #CCCCCC;
        text-align: center;
        font-weight: bold;
        width: 76%;
    }
</style>



@*<script src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>*@



<script>
    $(window).scroll(function () {
        $("#floating_box").animate({ top: $(window).scrollTop() + "px" }, { queue: false, duration: 350 });
    });

    $(document).on('show', '.accordion', function (e) {
        $(e.target).prev('.accordion-heading').addClass('accordion-opened');
    });

    $(document).on('hide', '.accordion', function (e) {
        $(this).find('.accordion-heading').not($(e.target)).removeClass('accordion-opened');
    });

    $(function ()
    {
        var diffDiv = "@Model.DemographicsDiffDiv";

        if (diffDiv != "")
        {

            var url = "/home/GetDemographicDiv";

            $.ajax({
                url: url,
                dataType: "json",
                type: "GET",
                error: function ()
                {
                    alert("An error occurred.");
                },
                success: function (data) {
                    $.confirm({
                        title: 'There are patient demographics differences',
                        content: data.content,
                        type: 'red',
                        boxWidth: '100%',
                        useBootstrap: true,
                        buttons:
                        {
                            cancelUser:
                            {
                                text: 'Cancel',
                                btnClass: 'btn-red',
                                action: function ()
                                {
                                   
                                }
                            }
                        },
                        onContentReady: function () {
                            var self = this;
                        },

                        columnClass: 'medium',
                    });
                }
            });
        }

    });

</script>


<div id="demoGraphicsDiv" class="row">

</div>

<div class="row">

    <div id="floating_box">
        <partial name="Partials/_NavBanner" model="Model" />
    </div>


    <div class="col-md-12">

        <div class="panel panel-default">

            <div class="panel-heading">

            </div>

            <div class="panel-body">

                <ul class="nav nav-tabs">

                    <li class="active">
                        <a href="#detail" data-toggle="tab">PLEXUS VIEWER</a>
                    </li>

                </ul>

                <div class="tab-content">

                    <div class="tab-pane fade in active" id="detail">

                        <div class="row">

                            <div class="col-md-12">

                                <div>
                                    @Html.Raw(Model.Div)
                                </div>

                            </div>


                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>