
@{
    ViewData["Title"] = "An exception has occured.";
    Layout = "~/Views/Shared/_LayoutErrors.cshtml";
}



<div class="row">
    <div class="col-md-12">
        <div class="alert alert-danger">
            <strong>Errors!</strong> An exception has occured. Please contact service desk.
        </div>
    </div>
</div>