@{
    ViewData["Title"] = "Invalid Parameters";
    Layout = "~/Views/Shared/_LayoutErrors.cshtml";
}



<div class="row">
    <div class="col-md-12">
        <div class="alert alert-danger">
            <strong>Danger!</strong> Invalid Parameters Entered!
        </div>
    </div>
</div>