@model UrlParemetersModel

@{
    ViewData["Title"] = "Invalid Certificate";
    Layout = "~/Views/Shared/_LayoutErrors.cshtml";
}



<div class="row">
    <div class="col-md-12">
        <div class="alert alert-danger">
            <strong>Errors!</strong> Certificate not found or an invalid certificate provided!
        </div>
    </div>
</div>