
@{
    ViewData["Title"] = "Invalid Parameters";
    Layout = "~/Views/Shared/_LayoutErrors.cshtml";
}



<div class="row">
    <div class="col-md-12">
        <div class="alert alert-danger">
            <strong>Errors!</strong> Invalid spine model. SMSP returned a null value
        </div>
    </div>
</div>